/*iOS*/
@media only screen and (min-width: 320px) and (max-width: 479px){

/*--------------------------------------------------------------
General
--------------------------------------------------------------*/
	.site-pad-rl{
		padding: 0 15px;
	}
	.site-pad-r{
	  padding-right: 15px;
	}
	.site-pad-l{
	  padding-left: 15px;
	}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
	.site-logo{
		display: block;
		float: none;
		text-align: center;
		margin: 10px auto;
	}
	.site-adds-wrap{
		float: none;
		width: 100%;
		text-align: center;
	}
/*--------------------------------------------------------------
Main Menu
--------------------------------------------------------------*/
	.tierone-home-icon{
		border-bottom: 1px solid #1c63ca;
		margin: 0 -15px;
	    display: none;	
	}
	.nav > li{
		border-bottom: 1px solid #1c63ca;
	}
	.nav > li:last-child{
		border-bottom: 1px solid transparent;
	}
	.navbar-nav{
		margin-top: 0;
	}
	#header-nav ul li{
		display: block;
		height: auto;
	}
	.navbar-toggle.collapsed{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
	    border-color: #eee;
	}

	/*Search Menu*/
	.tierone-search-box{
		margin: 10px 0 20px;
	}
	.tierone-search-container{
		position: relative;
		top: 0;
		width: 100%;
	}
	.tierone-search-container input[type="text"]{
	    width: 66%;
	    float: left;
	}

	/*Social Menu*/
	.social-media-buttons{
		width: 100%;
		text-align: center
	}
/*--------------------------------------------------------------
Marquee
--------------------------------------------------------------*/
	div.marquee-title{
		width: 40%;
	}
	.marquee-content{
		padding: 0 5px;
	}
	.marquee-content li a {
	    color: #555;
	    font-weight: 500;
	    font-size: 13px;
		width: 174px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
	}
	.marquee-content #example{
		height: 68px !important;
		line-height: 20px;
	}
	#footer-socket-social.social-media-buttons{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
	#primary{
		margin-top: 10px;
	}


	/*Featured Post*/
	.catstyle1b-post{
		height: auto;
		margin-top: 10px;
	}
	.caption{
		margin-top: 10px;
	}
	.catstyle1b-post:after{
		bottom: -15px;
	}
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
	.widget-area{
		border-top: 1px solid #c5ddff;
		margin-top: 25px;
	}

	/*tierone recent post*/
	.random-post .col-lg-4,
	.random-post .col-lg-8{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.random-post .tierone-random-image, 
	.random-post .attachment-post-thumbnail{
		height:auto;
	}
	.random-post .h3-mod a{
		margin-top: 10px;
	}
	.main-sidebar .random-post .random-post-line{
		margin-bottom: 20px;
	}
/*--------------------------------------------------------------
Social Media
--------------------------------------------------------------*/
	.main-sidebar .social-media{
		width: 100%;
	}
	.main-sidebar .social-media .sm{
	    width: 29%;
	    height: 75px;
	}
	.main-sidebar .social-media .sm > a > i{
		font-size:1.8em;
	}
/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
	nav .footer-socket{
		height: auto;
	}
	.menu-left.pull-left{
		float: none !important;
		display: block;
		margin-top: 10px;
		text-align: center;
	}
	.menu-right.pull-right{
	    float: none !important;
	    text-align: center;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    line-height: 25px;
	}
	footer p{
		margin: 10px 0;
	}
}

/*Andriod*/
@media only screen and (min-width: 480px) and (max-width: 767px){ 
	
/*--------------------------------------------------------------
General
--------------------------------------------------------------*/
	.site-pad-rl{
		padding: 0 15px;
	}
	.site-pad-r{
	  padding-right: 15px;
	}
	.site-pad-l{
	  padding-left: 15px;
	}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
	.site-logo{
		display: block;
		float: none;
		text-align: center;
		margin: 10px auto;
	}
	.site-adds-wrap{
		float: none;
		width: 100%;
		text-align: center;
	}
/*--------------------------------------------------------------
Main Menu
--------------------------------------------------------------*/
	.tierone-home-icon{
		border-bottom: 1px solid #1c63ca;
		margin: 0 -15px;
	    display: none;	
	}
	.nav > li{
		border-bottom: 1px solid #1c63ca;
	}
	.nav > li:last-child{
		border-bottom: 1px solid transparent;
	}
	.navbar-nav{
		margin-top: 0;
	}
	#header-nav ul li{
		display: block;
		height: auto;
	}
	.navbar-toggle.collapsed{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
	    border-color: #eee;
	}
	/*Search Menu*/
	.tierone-search-box{
		margin: 10px 0 20px;
	}
	.tierone-search-container{
		position: relative;
		top: 0;
		width: 100%;
	}
	.tierone-search-container input[type="text"]{
	    width: 80%;
	    float: left;
	}

	/*Social Menu*/
	.social-media-buttons{
		width: 100%;
		text-align: center
	}
/*--------------------------------------------------------------
Marquee
--------------------------------------------------------------*/
	div.marquee-title{
		width: 37%;
	}
	.marquee-content{
		padding: 0 5px;
	}
	.marquee-content li a {
	    color: #555;
	    font-weight: 500;
	    font-size: 13px;
		width: 174px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
	}
	.marquee-content #example{
		height: 45px !important;
		line-height: 20px;
	}
	#footer-socket-social.social-media-buttons{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
	#primary{
		margin-top: 10px;
	}
	
	/*Featured Post*/
	.catstyle1b-post{
		height: auto;
		margin-top: 10px;
	}
	.caption{
		margin-top: 10px;
	}
	.catstyle1b-post:after{
		bottom: -15px;
	}
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
	.widget-area{
		border-top: 1px solid #c5ddff;
		margin-top: 25px;
	}

	/*tierone recent post*/
	.random-post .col-lg-4,
	.random-post .col-lg-8{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.random-post .tierone-random-image, 
	.random-post .attachment-post-thumbnail{
		height:auto;
	}
	.random-post .h3-mod a{
		margin-top: 10px;
	}
	.main-sidebar .random-post .random-post-line{
		margin-bottom: 20px;
	}
/*--------------------------------------------------------------
Social Media
--------------------------------------------------------------*/
	.main-sidebar .social-media{
		width: 100%;
	}
	.main-sidebar .social-media .sm{
	    width: 31%;
	    height: 87px;
	}
	.main-sidebar .social-media .sm > a > i{
		font-size:1.8em;
	}
/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
	nav .footer-socket{
		height: auto;
	}
	.menu-left.pull-left{
		float: none !important;
		display: block;
		margin-top: 10px;
		text-align: center;
	}
	.menu-right.pull-right{
	    float: none !important;
	    text-align: center;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    line-height: 25px;
	}
	footer p{
		margin: 10px 0;
	}
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){ 

/*--------------------------------------------------------------
Main Menu
--------------------------------------------------------------*/
	/*Search Menu*/
	.tierone-search-container{
		width: 45%;
	}
	/*Social Mennu*/
	.social-media-buttons{
		width: 23%;
	}
/*--------------------------------------------------------------
Marquee
--------------------------------------------------------------*/
	div.marquee-title{
		width: 25%;
	}
	.marquee-content{
		width: 50%;
	}
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

	/*tierone recent post*/
	.random-post .col-lg-4,
	.random-post .col-lg-8{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.random-post .tierone-random-image, 
	.random-post .attachment-post-thumbnail{
		height:auto;
	}
	.random-post .h3-mod a{
		margin-top: 10px;
	}
	.main-sidebar .random-post .random-post-line{
		margin-bottom: 20px;
	}
}

/*normal*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
/*--------------------------------------------------------------
Main Menu
--------------------------------------------------------------*/
	.tierone-search-container{
		width: 35%;
	}
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
	.widget-area{
		border-top: 1px solid #c5ddff;
		margin-top: 25px;
	}

	/*tierone recent post*/
	.random-post .col-lg-4,
	.random-post .col-lg-8{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.random-post .tierone-random-image, 
	.random-post .attachment-post-thumbnail{
		height:auto;
	}
	.random-post .h3-mod a{
		margin-top: 10px;
	}
	.main-sidebar .random-post .random-post-line{
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
}